@import '../../../less/_variables.less';

.return-btn {
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #5E7962;
    color: @font-color;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 100;
}

.return-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.game-menu {
    display: flex;
    justify-content: center;
    padding: 40px;

    p {
        margin: 0 10px;
        cursor: pointer;
        font-size: 24px;
        font-weight: 600;
        color: #ade1b5;

        &:hover {
            color: #5E7962;
        }
    }

    .active {
        color: #5E7962;
    }

}